.image-bg {
    background-image: url("background.jpg") !important;
}

a {
  color:orange;
}

p {
  font-size: 18px;
}

em {
  font-size: 15px;
}

.video_container {
  position: relative;
  padding-bottom: 50%;
  width: 100%;
  height: 0;
}
.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}